@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Roboto" serif;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background: var(--PALLETE-1);
}

header {
  border-color: var(--PALLETE-2);
  grid-area: hd;
}

main {
  grid-area: mn;
  color: var(--PALLETE-F);
}

a {
  color: var(--PALLETE-A);
}

aside {
  grid-area: aside;
  border: solid 5px var(--PALLETE-B);
  margin: 0.5em;
  border-radius: 0.6em;
  background-color: var(--PALLETE-3);
  color: var(--PALLETE-F);
}

blockquote {
  text-align: center;
  font-size: var(--FS-BQ);
  padding-bottom: 1.5em;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  margin: 0.5em;
}

table {
  border-collapse: collapse;
  border: 0.2em solid var(--PALLETE-B);
  width: 100%;
  height: 100%;
  font-size: min(40px, 10px);
}

td,
th {
  border: 0.1em solid var(--PALLETE-B);
}

footer {
  grid-area: ft;
  padding: 15px;
  text-align: center;
  border-top: solid 4px var(--PALLETE-B);
  background-color: var(--PALLETE-4);
  bottom: 0;
  position: sticky;
}

iframe {
  margin: 0.2em;
  border: none;
  aspect-ratio: 16 / 9;
}

p {
  font-size: 1.2em;
}

mark {
  background-color: var(--PALLETE-3);
}

section {
  margin: 0.5em;
  border: solid 5px var(--PALLETE-B);
  border-radius: 0.6em;
  padding: 25px;
}

aside section {
  border: none;
}

thead>tr {
  background-color: var(--PALLETE-4);
}

a:hover {
  text-decoration: none;
  font-weight: 600;
}

#banner {
  width: 100%;
}

#character {
  width: 90%;
  aspect-ratio: auto;
}

#character:hover {
  animation-duration: 2s;
  animation-name: scaling;
}

#icon {
  box-shadow: 5px 10px 4px gray;
}

.hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--PALLETE-2);
  color: var(--PALLETE-HERO-F);
  border-color: black;
  padding: 0;
}

.youtube-video {
  box-sizing: border-box;
  display: block;
}

@media (width > 512px) {
  body {
    display: grid;
    grid-template:
      "hd hd hd hd" auto
      "mn mn mn aside" 1fr
      "mn mn mn aside" 1fr
      "ft ft ft ft" auto / 1fr 1fr 1fr 1fr;
  }
}

@keyframes scaling {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}
