:root {
  --PALLETE-1: #da753a;
  --PALLETE-2: #602600;
  --PALLETE-3: #dac53a;
  --PALLETE-4: #9f4300;
  --PALLETE-A: #653D0B;
  --PALLETE-B: black;
  --PALLETE-F: black;
  --PALLETE-HERO-F: white;

  --FS-BQ: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background: var(--PALLETE-1);
}

header {
  border-color: var(--PALLETE-2);
  grid-area: hd;
}

main {
  grid-area: mn;
  color: var(--PALLETE-F);
}

a {
  color: var(--PALLETE-A);
}

aside {
  grid-area: aside;
  border: solid 5px var(--PALLETE-B);
  margin: 0.5em;
  border-radius: 0.6em;
  background-color: var(--PALLETE-3);
  color: var(--PALLETE-F);
}

aside section {
  border: none;
}

header img {
  width: 100%;
}

blockquote {
  text-align: center;
  font-size: var(--FS-BQ);
  padding-bottom: 1.5em;
}

:is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  margin: 0.5em;
}

table {
  border-collapse: collapse;
  border: 0.2em solid var(--PALLETE-B);
  width: 100%;
  height: 100%;
  font-size: min(40px, 10px);
}

td,
th {
  border: 0.1em solid var(--PALLETE-B);
}

footer {
  grid-area: ft;
  padding: 15px;
  text-align: center;
  border-top: solid 4px var(--PALLETE-B);
  background-color: var(--PALLETE-4);
  bottom: 0;
  position: sticky;
}

iframe {
  margin: 0.2em;
  border: none;
  aspect-ratio: 16 / 9;
}

p {
  font-size: 1.2em;
}

mark {
  background-color: var(--PALLETE-3);
  text-decoration: bold;
}

section {
  margin: 0.5em;
  border: solid 5px var(--PALLETE-B);
  border-radius: 0.6em;
  padding: 25px;
}

.hero_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--PALLETE-2);
  color: var(--PALLETE-HERO-F);
  border-color: black;
  padding: 0;
}

.youtube-video {
  box-sizing: border-box;
  display: block;
}

@media (width > 512px) {
  body {
    display: grid;
    grid-template:
      "hd hd hd hd" auto
      "mn mn mn aside" 1fr
      "mn mn mn aside" 1fr
      "ft ft ft ft" auto / 1fr 1fr 1fr 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --PALLETE-1: #80270c;
    --PALLETE-2: #602600;
    --PALLETE-3: #25672a;
    --PALLETE-4: #9f4300;
    --PALLETE-A: #FF9E24;
    --PALLETE-B: black;
    --PALLETE-F: white;
    --PALLETE-HERO-F: white;

    --FS-BQ: 18px;
  }
}
